<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/products/logo.png" alt="walmart" class="img-responsive">
      </a>
    </div>

    <app-product-category-menu></app-product-category-menu>

  </aside>
  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            <app-login-status></app-login-status>

            <app-search></app-search>


            <app-cart-status></app-cart-status>

          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>

  </div>
</div>

<!-- ENDS PAGE CONTAINER -->

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Amatic+SC:700">
<link rel="stylesheet" type="text/css"
  href="https://cdn.corporate.walmart.com/resource/0000017b-2b13-d7d1-a57b-bb9362770000/styleguide/AllNoFF.min.5995b8954cf01d3886e74036cdb74d17.gz.css">
<link rel="stylesheet" type="text/css" href="/styleguide/FontFamilies.min.css">
<link rel="stylesheet" type="text/css" href="/fontawesome-free-5.5.0-web/css/all.min.css">

<footer class="Footer2021" itemscope itemtype="https://schema.org/WPFooter">

  <div class="Footer2021-footerNavigation">
    <nav class="FooterNavigation2021" itemscope itemtype="http://schema.org/SiteNavigationElement">

      <ul class="FooterNavigation-items">

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://corporate.walmart.com/about">About</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://corporate.walmart.com/news">News</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://corporate.walmart.com/purpose">Purpose</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://stock.walmart.com/investors/default.aspx"
                target="_blank">Investors</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://corporate.walmart.com/suppliers">Suppliers</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://careers.walmart.com/" target="_blank">Careers</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

            </div>
          </div>
        </li>

      </ul>


    </nav>
  </div>




  <div class="Footer2021-footerContent">
    <nav class="FooterSecondaryNavigation2021" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <ul class="FooterNavigation-items">

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://corporate.walmart.com/privacy-security">Privacy
                &amp; Security</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link"
                href="https://corporate.walmart.com/privacy-security/fraud-alerts/">Fraud</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link"
                href="https://corporate.walmart.com/privacy-security/california-privacy-rights">California
                Privacy
                Rights</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link"
                href="https://corporate.walmart.com/california-transparency">California Supply Chains
                Act</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link"
                href="https://corporate.walmart.com/frequently-asked-questions">FAQs</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://corporate.walmart.com/about/contact">Contact</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://corporate.walmart.com/policies">Policies</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://corporate.walmart.com/recalls">Recalls</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://corporate.walmart.com/terms-of-use">Terms of
                Use</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link"
                href="https://cpa-ui.walmart.com/affirmation?brandCode=WMT&amp;requestType=OPTOUT" target="_blank">Do
                Not Sell My Personal Information</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link"
                href="https://cpa-ui.walmart.com/affirmation?brandCode=WMT&amp;requestType=ACCESS"
                target="_blank">Request My Personal Information</a>

            </div>
          </div>
        </li>

        <li class="FooterNavigation-items-item">
          <div class="FooterNavigationItem">
            <div class="FooterNavigationItem-text">

              <a class="FooterNavigationItem-text-link" href="https://corporate.walmart.com/newsroom/rss">RSS Feeds</a>

            </div>
          </div>
        </li>

      </ul>
    </nav>
  </div>

  <div class="Footer2021-iconLinks">

    <nav class="FooterIconNavigation2021" itemscope itemtype="http://schema.org/SiteNavigationElement">

      <ul class="FooterIconNavigation2021-items">

        <li class="FooterIconNavigation2021-items-item">

          <div class="SocialBar2021">

            <ul class="SocialBar2021-items">

              <li class="SocialBar2021-items-item">
                <a class="" href="https://www.walmart.com/store/finder" target="_blank">
                  <i class='fas fa-map-marker-alt' style='font-size:21px'></i></a>
              </li>



              <li class="SocialBar2021-items-item"><a class="SocialLink" href="https://twitter.com/walmart"
                  target="_blank" data-social-service="twitter" aria-label="Visit Walmart's twitter page">walmart</a>
              </li>

              <li class="SocialBar2021-items-item"><a class="SocialLink" href="https://www.instagram.com/walmart/"
                  target="_blank" data-social-service="instagram"
                  aria-label="Visit Walmart's instagram page">walmart</a>
              </li>

              <li class="SocialBar2021-items-item"><a class="SocialLink" href="https://www.youtube.com/walmart"
                  target="_blank" data-social-service="youtube" aria-label="Visit Walmart's youtube page">walmart</a>
              </li>

              <li class="SocialBar2021-items-item"><a class="SocialLink" href="https://www.pinterest.com/walmart"
                  target="_blank" data-social-service="pinterest"
                  aria-label="Visit Walmart's pinterest page">walmart</a>
              </li>

              <li class="SocialBar2021-items-item"><a class="SocialLink" href="https://www.facebook.com/walmart"
                  target="_blank" data-social-service="facebook" aria-label="Visit Walmart's facebook page">walmart</a>
              </li>

              <li class="SocialBar2021-items-item"><a class="SocialLink" href="https://www.linkedin.com/company/walmart"
                  target="_blank" data-social-service="linkedin" aria-label="Visit Walmart's linkedin page">walmart</a>
              </li>

            </ul>

          </div>



        </li>
      </ul>
    </nav>





  </div>



  <div class="Page-disclaimer">© 2022 Walmart Inc. All Rights Reserved.<br></div>


</footer>